/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}
.tabs ul.primary li a.is-active {
  background-color: #fff;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #fff;
  background-color: #fff;
}
a,
.link {
  color: #0071b3;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
a:active,
.link:active {
  color: #23aeff;
}
.sidebar .block {
  border-color: #f9f9f9;
  background-color: #f6f6f2;
}
.site-footer {
  background: #292929;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
header{
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .site-branding{
  width: 100%;
  display: flex;
  align-items: center;
}
.header .section{
  display: flex;
  align-items: center;
}
.region-secondary-menu{
  position: absolute;
  right:0;
}
.region-primary-menu .block-menu .menu li a{
  position: relative;
}
.region-primary-menu .block-menu .menu li a.is-active{
color:#385dc4;
position: relative;
}
.region-primary-menu .block-menu .menu li a.is-active:after{
  content:"";
  position:absolute;
  background-color:#385dc4;
  width: 100%;
  height: 3px;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
}
.region-secondary-menu .menu a{
  display: inline-block;
    padding: 0.8em;
    background: #385dc4;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}
.site-branding__text{
  display: none;
}
header .site-branding img{
  height: 65px;
}
.site-branding__name{
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  display: none;
}
.site-branding__name a{
  text-transform: uppercase;
  color: #002aa1;
  font-size: 20px;
  font-weight: bold;
}
