<div class="dashboard">
          <div class="top-dashboard">
            <div class="col-md-5">
              <div class="liste-content">
                <ul>
                  <li>
                    <div class="left">
                      <div class="name">Lorem ipsum</div>
                      <div class="content">Lorem upsum dolor amet</div>
                    </div>
                    <div class="right">
                      <div class="nombre">200</div>
                    </div>
                  </li>
                  <li>
                    <div class="left">
                      <div class="name">Lorem ipsum</div>
                      <div class="content">Lorem upsum dolor amet</div>
                    </div>
                    <div class="right">
                      <div class="nombre">50</div>
                    </div>
                  </li>
                  <li>
                    <div class="left">
                      <div class="name">Lorem ipsum</div>
                      <div class="content">Lorem upsum dolor amet</div>
                    </div>
                    <div class="right">
                      <div class="nombre">20	</div>
                    </div>
                  </li>
                  <li>
                    <div class="left">
                      <div class="name">Lorem ipsum</div>
                      <div class="content">Lorem upsum dolor amet</div>
                    </div>
                    <div class="right">
                      <div class="nombre">10																																									</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-7">
              <div class="graph-enquete col-md-6">
                <div class="top-graph">
                  <div class="title">Enquêtes</div>
                  <div class="select-group">
                    <select class="not-select2">
                      <option value="Moral">Enquête 1</option>
                      <option value="Physique">Enquête 2							</option>
                    </select>
                  </div>
                </div>
                <div id="container1"></div>
              </div>
              <div class="graph-participation col-md-6">
                <div class="top-graph">
                  <div class="title">Taux de participation</div>
                  <div class="select-group">
                    <select class="not-select2">
                      <option value="Moral">Enquête 1</option>
                      <option value="Physique">Enquête 2	</option>
                    </select>
                  </div>
                </div>
                <div id="container2"></div>
              </div>
            </div>
          </div>
          
        </div>